<app-toolbar [title]="title">

  <!-- メニューボタン -->
  <ng-template appToolbarMenu>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <!-- Moreメニューの中のメニューボタン -->
  <ng-template appToolbarMenuMore>
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>

</app-toolbar>
